{% extends 'base.html' %}

{% block content %}

<!-- content -->
<div class="container content-container">
    <div class="row border-bottom mb-4">
        <div class="col-8">
            <h2 class="text-dark font-weight-light">We're Sorry!</h2>
        </div>
      </div>
    <p class="mt-1" style="text-align:center;">It seems we've encountered an error!<br>Either the page or product you searched for doesnt exist, or we've made a mistake.</p>
    <a class="btn btn-info d-block rounded-pill w-100 mt-4 small-font" href="{{ url_for('main.index') }}">Return to Home Page</a>
</div>

{% endblock %}