<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <title>ToyBox</title>
    <meta name="description" content="ToyBox">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredoka+One&display=swap"
        rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/3510c8fda1.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="container-full bg-white">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fredoka-font logo text-info" href="{{ url_for('main.index') }}">ToyBox<span
                    class="logo-small d-none d-sm-inline-block">.com</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-secondary small-font" href="{{ url_for('main.index') }}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-secondary small-font" href="{{ url_for('main.index') }}"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            CATEGORIES
                        </a>
                        <div class="dropdown-menu small-font" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">All Products</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Teddy Bears</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Farm Animals</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Cats & Dogs</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Wild Animals</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Water Creatures</a>
                            <a class="dropdown-item" href="{{ url_for('main.index') }}">Other</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary small-font" href="{{ url_for('product.add') }}">ADD PRODUCT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary small-font" href="#">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- footer -->
    <div class="jumbotron text-center text-dark bg-light m-0 mt-5">
        <small>© Copyright 2020 ToyBox.com Pty Ltd (ABN 22 145 723 191). All Rights Reserved.<small>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>

</html>