{% extends 'base.html' %}

{% block content %}

<!-- content -->
<div class="container">

  <div class="row content-container">

    <!-- filter form side panel --FOR LARGE SCREENS-- -->
    <div class="col-md-3 d-none d-md-block">
      <h2 class="text-dark font-weight-light">Filter</h2>
      <form action="/filter" method= "POST" oninput="pricerangevalue.value = pricerange.valueAsNumber" class="text-dark small-font">
        <div class="form-group">
          <select class="form-control" id="order" name="order">
            <!-- current category -->
            <option value="{{ order }}" selected>{{ order }}</option> 
            <!-- all categories -->
            <option value="Latest">Latest</option>
            <option value="Least Expensive">Least Expensive</option>
            <option value="Most Expensive">Most Expensive</option>
            <option value="Alphabetical">Alphabetical</option>
          </select>
        </div>
        
        <div class="form-head pb-1 mb-3 pt-4 border-bottom">PRODUCT AND DESCRIPTION</div>
        {% if user_search %}
        <input name="search" type="search" value="{{ user_search }}" class="form-control rounded-pill small-font" placeholder="{{ user_search }}">
        {% else %}
          <input name="search" type="search" class="form-control rounded-pill small-font" placeholder="Search">
        {% endif %}
        <br>
        <!-- categories filter -->
        <div class="form-head pb-1 mb-3 pt-4 border-bottom">CATEGORY</div>
        <div class="form-group">
          <select class="form-control" id="category" name="category">
            <!-- current category -->
            <option value="{{ category }}" selected>{{ category }}</option> 
            <!-- all categories -->
            <option value="All Products">All Products</option>
            <option value="Teddy Bears">Teddy Bears</option>
            <option value="Farm Animals">Farm Animals</option>
            <option value="Cats & Dogs">Cats & Dogs</option>
            <option value="Wild Animals">Wild Animals</option>
            <option value="Water Creatures">Water Creatures</option>
            <option value="Other">Other</option>
          </select>
        </div>

        
        <!-- rating filter -->
        <div class="form-head pb-1 mb-3 pt-5 border-bottom">RATING</div>
        <div class="mt-2 custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="rating" id="zeroStars" value="0" checked>
          <label for="zeroStars" class="text-muted custom-control-label">
            <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i
              class="far fa-star"></i> <i class="far fa-star"></i> +
          </label>
        </div>
        <div class="mt-2 custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="rating" id="oneStars" value="1">
          <label for="oneStars" class="text-muted custom-control-label">
            <i class="fas fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i
              class="far fa-star"></i> <i class="far fa-star"></i> +
          </label>
        </div>
        <div class="mt-2 custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="rating" id="twoStars" value="2">
          <label for="twoStars" class="text-muted custom-control-label">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="far fa-star"></i> <i
              class="far fa-star"></i> <i class="far fa-star"></i> +
          </label>
        </div>
        <div class="mt-2 custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="rating" id="threeStars" value="3">
          <label for="threeStars" class="text-muted custom-control-label">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
              class="far fa-star"></i> <i class="far fa-star"></i> +
          </label>
        </div>
        <div class="mt-2 custom-control custom-radio">
          <input type="radio" class="custom-control-input" name="rating" id="fourStars" value="4">
          <label for="fourStars" class="text-muted custom-control-label">
            <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i
              class="fas fa-star"></i> <i class="far fa-star"></i> +
          </label>
        </div>

        <!-- rating filter -->
        <div class="form-head pb-1 mb-3 pt-5 border-bottom">MAX PRICE</div>
        <output>$0</output>
        <input class="form custom-slider" name="pricerange" type="range" step="5" min="0" max="{{actual_max_price}}" value="{{max_price}}">  
        $<output name="pricerangevalue" for="pricerange" >{{max_price}}</output>

        <!-- submission buttons -->
        <input type="submit" class="btn btn-info d-block rounded-pill w-100 mt-4 small-font" value="APPLY">
        <input type="reset" class="btn btn-outline-info d-block rounded-pill w-100 mt-3 mb-5 small-font"
          value="RESET">
        <a href="{{ url_for('main.index') }}">
          <input type="reset" class="btn btn-outline-info d-block rounded-pill w-100 mt-3 mb-5 small-font" value="REMOVE ALL">
        </a>

      </form>

    </div>

    <!-- filter above cards --FOR SMALL SCREENS-- -->
    <div class="d-md-none mb-5 w-100">
      <button class="btn small-font border-bottom" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-search"></i> FILTER SEARCH
      </button>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <form action="" oninput="pricerangevalue.value = pricerange.valueAsNumber">
            <!-- category filter -->
            <div class="form-group">
              <label for="categoryInputSmall" class="small-font form-head">CATEGORY</label>
              <select id="categoryInputSmall" class="form-control small-font">
                <option selected>All Products</option>
                <option>Teddy Bears</option>
                <option>Farm Animals</option>
                <option>Cats & Dogs</option>
                <option>Wild Animals</option>
                <option>Water Creatures</option>
                <option>Other</option>
              </select>
            </div>
            <!-- rating filter -->
            <div class="form-group">
              <label for="ratingInputSmall" class="small-font form-head">RATING</label>
              <select id="ratingInputSmall" class="form-control small-font">
                <option selected>0 Stars +</option>
                <option>1 Star +</option>
                <option>2 Stars +</option>
                <option>3 Stars +</option>
                <option>4 Stars +</option>
              </select>
            </div>
            <!-- price filter -->
            <div class="form-group">
                <label for="priceInputSmall" class="small-font form-head">MAX PRICE</label><br>
                <output>$0</output>
                <input class="custom-slider-mobile" name="pricerange" type="range" step="5" min="0" max="{{actual_max_price}}" value="{{max_price}}">  
                $<output name="pricerangevalue" for="pricerange" >{{actual_max_price}}</output>
            </div>
            <!-- submission buttons -->
            <input type="submit" class="btn btn-info d-block rounded-pill w-100 mt-4 small-font" value="UPDATE">
            <a href="#" class="btn btn-outline-info d-block rounded-pill w-100 mt-3 small-font" value="RESET FILTER"></a>

          </form>
        </div>
      </div>
    </div>

    <!-- product cards -->
    <div class="col-md-9">

      <!-- heading for cards -->
      <div class="row border-bottom mb-4">
        <div class="col-8">
          <h2 class="text-dark font-weight-light">{{ category }}</h2>
        </div>
      </div>
      <small class="text-muted ">Showing {{ total_results }}  of {{actual_results}} products</small>

      <!-- rows of products -->

      <div class="card-deck">
        {% for product in products %}
          <!-- individual product card -->
          <div class="col-sm-4 mt-3 mb-3">
            <a href="{{ url_for('product.view', id=product.id) }}" class="card product-card">
              <img class="card-img-top product-image" src="..{{ product.image_one }}">
              <div class="card-body">

                <div class="row">
                  <h5 class="col-lg-8 card-title text-dark">{{ product.name }}</h5>
                  <h5 style ="text-align:right;" class="col-lg-4 card-title text-info">${{ product.price }}</h5>
                </div>

                <div class="row">
                  {% if product.current_stock > 0 %}
                  <p class="col-lg-8 card-text text-success"><small>Available</small></p>
                  {% else %}
                  <p class="col-lg-8 card-text text-danger"><small>Out of Stock</small></p>
                  {% endif %}
                  
                  <p style ="text-align:right;" class="col-lg-4 card-text text-muted"><small><i class="fas fa-star-half-alt"></i> {{ product.rating }}</small></p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>

      <!-- pagination
      <nav class="mt-5">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link text-info" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link bg-info text-light" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
          <li class="page-item"><a class="page-link text-info" href="#">4</a></li>
          <li class="page-item">
            <a class="page-link text-info" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>-->

    </div>
  </div>
</div>

{% endblock %}