{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="container content-container">
    <h2 class="text-dark font-weight-light border-bottom">{{heading}}</h2>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                <div class="row mt-3 mb-3">
                    <div class="col md-12">
                        {% for message in messages %}
                        <div class="alert alert-danger">{{message}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}


    <div class="col-md-6 ml-5">
        {{wtf.quick_form(form)}}
    </div>


    <!-- modal -->
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLongTitle">Order Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you wish to order
                <span class="text-info font-weight-bold">1</span> of
                <span class="text-info font-weight-bold">Angry Shiba Dog</span> to
                <span class="text-info font-weight-bold">42 Wallaby Way, Sydney</span> for
                <span class="text-info font-weight-bold">$18</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{{ url_for('main.index') }}" type="button" class="btn btn-info">Yes, Order</a>
            </div>
        </div>
    </div>
</div>







</div>
{% endblock %}


