{% extends 'base.html' %}

{% block content %}

<!-- content -->
<div class="container">

    <div class="row content-container mb-5">
        <!-- image carousel -->
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    {% if product.image_two %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    {% endif %}
                    {% if product.image_three %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    {% endif %}
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active"> <!-- primary image -->
                        <img class="d-block w-100" src="..{{ product.image_one }}" alt="First slide">
                    </div>
                    {% if product.image_two %}
                    <div class="carousel-item"> <!-- second image -->
                        <img class="d-block w-100" src="..{{ product.image_two }}" alt="Second slide">
                    </div>
                    {% endif %}
                    {% if product.image_three %}
                    <div class="carousel-item"> <!-- third image -->
                        <img class="d-block w-100" src="..{{ product.image_three }}" alt="Third slide">
                    </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- product information -->
        <div class="col-md-6">
            <h2 class="text-dark font-weight-light border-bottom">{{ product.name }}</h2>
            <div class="text-info">
                <i class="fas fa-star"></i> {{ rating }} ({{ reviewCount }} reviews)
            </div>

            <h1 class="text-dark mt-3">${{ roundedPrice }}</h1>
            <div class="small-font form-head text-muted font-weight-light">GST included</div>

            <div class="small-font form-head mt-3">CATEGORIES</div>
            <p class="small-font">{{ product.category }}</p>

            <div class="small-font form-head mt-3">DESCRIPTION</div>
            <p class="small-font">{{ product.description }}</p>

            <div class="small-font form-head mt-3">REMAINING STOCK</div>
            {% if product.current_stock > 0 %} <!--if product is available, display stock-->
                <p class="small-font">{{ product.current_stock }}</p>
            {% else%}
                <p class="small-font text-danger">Out of Stock</p>
            {% endif %}

            <div class="row mt-2">
                <div class="col-2">
                    <img class="" src="../static/img/genericman.jpg" height="50px" width="50px">
                </div>
                <div class="col">
                    <span class="small-font">{{ seller.username }}<br>
                        <span class="text-info">
                            <i class="fas fa-star"></i> {{ sellerRating }} ({{ sellerReviewCount }})
                        </span>
                    </span>
                </div>
            </div>

            <!-- order button -->
            {% if product.current_stock > 0 %} <!--if product is available, display order button-->
                {% if current_user.seller == False %} <!--if user is a buyer, allow them to buy-->
                    <a class="btn btn-info mt-4 pl-5 pr-5" href="{{ url_for('order.order', id=product.id) }}">
                        <h3 class="font-weight-bold">Order</h3>
                    </a>
                {% else %}
                    <a class="btn btn-danger btn-info mt-4 pl-5 pr-5" data-toggle="OOS-tooltip" data-placement="right" title="You must be logged in as a buyer to purchase products!" disabled>
                        <h3 style="color:white;" class="font-weight-bold">Order</h3>
                    </a>
                {% endif %}
            {% else %} <!--if product is out of stock, disable button-->
                <a class="btn btn-danger btn-info mt-4 pl-5 pr-5" data-toggle="OOS-tooltip" data-placement="right" title="Unfortunately, I am Out of Stock for this month. Check in on me later!" disabled>
                    <h3 style="color:white;" class="font-weight-bold">Order</h3>
                </a>
            {% endif %}

        </div>
    </div>


    <!-- reviews -->
    <h2 class="text-dark font-weight-light border-bottom">Customer Reviews</h2>

    <!-- post a review form -->
    {% if current_user.seller == False %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.text.label(class_="small-font form-head") }}

        <div class="row">
            <!-- review description input -->
            <div class="col mt-2">
                <div class="form-group m-0">
                    {{ form.text(class_="form-control small-font", placeholder="Enter review") }}
                </div>
            </div>
        </div>

        <div class="row">
            <!-- rating input -->
            <div class="col-sm-3 mt-2">
                {{ form.rating(class_="form-control small-font") }}
            </div>
            <!-- title input -->
            <div class="col-sm-6 mt-2">
                {{ form.title(class_="form-control small-font", placeholder="Enter title") }}
            </div>
            <!-- submission button -->
            <div class="col-sm-3 mt-2">
                {{ form.submit(class_="btn btn-outline-info form-control small-font") }}
            </div>
        </div>
    </form>
    {% endif %}

    <!-- flash form errors -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container">
                <div class="row mt-3 mb-3">
                    <div class="col md-12">
                        {% for message in messages %}
                        <div class="alert alert-danger">{{message}}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <!-- if there are no reviews then display a message -->
    {% if reviewCount == 0 %}
        <h3 class="text-center mt-5 text-muted"> No Reviews Available for this Product </h3>
    {% endif %}

    {% for comment in comments %}
    <!-- reviews -->
    <div class="mt-4 mb-2 border p-4">
        <div class="row">
            <div class="col review-head">
                {{ comment[0].title }} <span class="small-font font-weight-normal">by {{ comment[1].username }}</span>
            </div>
            <div class="text-muted small-font">{{ comment[0].created.strftime("%d/%m/%Y") }}</div>
        </div>
        <div class="row">
            <div class="col">
                <span class="small-font">
                    <span class="text-info">
                        {% for i in range(comment[0].rating|int) %}
                            <i class="fas fa-star"></i>
                        {% endfor %}
                        {{ comment[0].rating|int }} stars
                    </span>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col small-font">
                {{ comment[0].text }}
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="OOS-tooltip"]').tooltip();   
    });
</script>

{% endblock %}